setuptools>=65.0.0
wheel

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.6.1
imblearn==0.0
xgboost==2.0.3
spacy==3.7.4
azure-storage-blob==12.19.0
tqdm==4.66.4
langdetect==1.0.9
deep-translator==1.11.4
streamlit==1.34.0
joblib==1.4.2

thinc==8.2.2

# SpaCy language model
pt_core_news_md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.7.0/pt_core_news_md-3.7.0-py3-none-any.whl
